    <div class="body mt-5">
        <div class="container">
            <div class="heading">
                Your City Name
            </div>
            <div class="enter_box mt-3" >
                <form method="post" action="/" >
                    <span><input type="text" placeholder="Enter here " name="cityName" id="cityName" >
                        <input type="submit"></span>
              

                </form>
            </div>
        </div>
    </div>
  
    