<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="192x192"
        href="images/logo.png">
    <link rel="shortcut icon"
        href="images/logo.png"
        type="image/png" />
    <link rel="apple-touch-icon"
        href="images/logo.png"
        type="image/png" />
    <title>WeatherApp</title>

    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="box">
        <div class="page">
            <div class="image">
                <img src="images/ErrorPage.jpg" alt="404 Error Page">
            </div>

        </div>
    </div>
</body>

</html>