<!--calling the header and footer file through ejs property -->
<%-include("partials/header") %>
<%-include("partials/textBox") %>
<div class="wrong_input mt-5"><p>No such city Exist</p></div>
<%-include("partials/footer") %>